<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <section id="menu">
        <div class="logo">
            <img src="/assets/img/logo.png">
            <h2>UWC2.0</h2>
        </div>
        <div class="items">
            <a  class="active" href="#">
                <li>
                    <i class="fas fa-chart-pie"></i>
                    <span href="#">Dashboard</span>
                </li>
            </a>
            <a href="#">
                <li>
                    <i class="fa-solid fa-person-digging"></i>
                    <span href="#">Employees</span>
                </li>
            </a>
            <a href="#">
                <li>
                    <i class="fa-solid fa-truck"></i>
                    <span href="#">Vehicles</span>
                </li>
            </a>
            <a href="#">
                <li>
                    <i class="fa-solid fa-location-pin"></i>
                    <span href="#">Checkpoints</span>
                </li>
            </a>
            <a href="#">
                <li>
                    <i class="fa-solid fa-map-location-dot"></i>
                    <span href="#">Map</span>
                </li>
            </a>
            <a href="#">
                <li>
                    <i class="fa-solid fa-chart-line"></i>
                    <span href="#">Statistics</span>
                </li>
            </a>
        </div>
    </section>
    <section id="interface">
        <div class="navbar">
            <div class="n1">
                <div class="search">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Search">
                </div>
            </div>
            <div class="profile">
                <i class="fas fa-bell"></i>
                <img src="/assets/img/logo.png" alt="">
            </div>
        </div>

        <h3 class="i-name">
            Dashboard
        </h3>

        <div class="values">
            <div class="val-box box">
                <i class="fas fa-users"></i>
                <div>
                    <h3>365</h3>
                    <span>Employees</span>
                </div>
            </div>
            <div class="val-box box">
                <i class="fa-solid fa-location-pin"></i>
                <div>
                    <h3>87</h3>
                    <span>MCPs</span>
                </div>
            </div>
            <div class="val-box box">
                <i class="fa-solid fa-truck"></i>
                <div>
                    <h3>413</h3>
                    <span>Vehicles</span>
                </div>
            </div>
            <div class="val-box box">
                <i class="fa-regular fa-comments"></i>
                <div>
                    <h3>15</h3>
                    <span>New Feedbacks</span>
                </div>
            </div>
        </div>

        <div class="board">
            <table>
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Name</td>
                        <td>Role</td>
                        <td>Status</td>
                    </tr> 
                </thead>
                <tbody>
                    <tr>
                        <td class="employeID">
                            <p>1</p>
                        </td>
                        <td class="people">
                            <img src="/assets/img/logo.png" alt="">
                            <h5>John Cena</h5>
                        </td>

                        <td class="role">
                            <p></p>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</body>

</html>